{% extends "base.html" %} {% block content %}
<section class="text-center  space-y-4">
  <h3>Add Category</h3>

  <form action="{{ url_for('add_category') }}" method="POST" class="space-y-4">
    <div>
      📁
      <label for="category_name"></label>
      <input
        type="text"
        class="input input-sm input-bordered input-primary w-full max-w-xs"
        name="category_name"
        id="category_name"
        minlength="3"
        maxlength="25"
        required
      />

    </div>

    <button type="submit" class="btn btn-sm btn-primary">Add</button>
  </form>
</section>
{% endblock %}
