@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

form {

  @apply space-y-8 max-w-screen-sm mx-auto;

  input[type=text], & input[type=date] {
    @apply
    input input-bordered input-primary;

  }

  input[type=checkbox] {
    @apply toggle toggle-primary;
  }

  input, button, textarea,select {
    @apply w-full;
  }

  textarea {
    @apply
    textarea textarea-bordered textarea-primary;
  }

  select {
    @apply select select-primary;
  }

  button {
    @apply btn btn-outline btn-primary loading;
  }


}
  div:has(> label[for=is_urgent]) {
    @apply flex items-center space-x-2;
  }
